<div class="center container postwrapper blue-grey darken-2 hoverable z-depth-3">
<%= form_for [@recipe, @recipe.comments.build] do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.hidden_field :recipe_id %>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>
</div>
<br>