<h1 class="name">
  <%= @recipe.name %>
</h1>

<p class="date">
  Submitted <%= time_ago_in_words(@recipe.created_at) %> ago.
  |<%= link_to 'Edit', edit_recipe_path(@recipe) %>
  |<%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p class="body">
  Description: <%= @recipe.description %><br>
  Instructions: <%= @recipe.instructions %><br>
  Tags: <%= @recipe.tags %><br>
  Ingredients: <%= @recipe.ingredients %><br>
</p>