<div class="container card-panel hoverable z-depth-3 radical-blue col s8 offset-s2">
<div class="center container postwrapper blue-grey darken-2 hoverable z-depth-3">
  <h2 class="name blue-text">
    <%= @recipe.name %>
  </h2>

  <p class="date">
    Submitted <%= time_ago_in_words(@recipe.created_at) %> ago. <br><br>
    <% if (user_signed_in? && (current_user.id == @recipe.user_id)) %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-sm btn-default", method: :update %>
      <%= link_to 'Delete', recipe_path(@recipe), class: "btn btn-sm btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>

  <p class="big">
    <span class="blue-text"><Description: </span><%= @recipe.description %><br>
    <span class="blue-text">Instructions: </span><%= @recipe.instructions %><br>
    <strong class="blue-text">Tags:</strong>
      <% tag_cloud @recipe.tag_counts, %w[s m l] do |tag| %>
         <%= link_to tag.name, tag_path(tag.name), class: "btn btn-sm btn-default" %>
            &nbsp;
      <% end %>
  </p><br>
  </div>
  <br><div id="comments" class="center container postwrapper blue-grey darken-2 hoverable z-depth-3">
    <h2><%= @recipe.comments.count %> Comments</h2>
    <%= render @recipe.comments %>

    <h4>Add a comment</h4>
    <%= render "comments/form" %> 
  </div>
</div>