<div class="recipe_content">
  <h1 class="name">
    <%= @recipe.name %>
  </h1>

  <p class="date">
    Submitted <%= time_ago_in_words(@recipe.created_at) %> ago.
    | <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    | <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

  <p class="body">
    Description: <%= @recipe.description %><br>
    Instructions: <%= @recipe.instructions %><br>
    Tags:
      <% tag_cloud @recipe.tag_counts, %w[s m l] do |tag, css_class| %>
        | <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
  </p>
  <div id="comments">
    <h2><%= @recipe.comments.count %> Comments</h2>
    <%= render @recipe.comments %>

    <h3>Add a comment</h3>
    <%= render "comments/form" %> 
  </div>
</div>