<h3 class="container left white-text">Hello, <%= @user.email %></h3>

<span class="container left white-text"><%= @tags %></span>



<h4 class="container left white-text">Your Recipes</h4> 

<div class="left container col s4">
  <% @user.recipes.each do |recipe| %>
    <div class="center card-panel hoverable z-depth-3 radical-blue">
      <a class="waves-effect waves-light">
        <i class="material-icons yellow center">grade</i>
        
        </a>    
      <%= link_to recipe.name, recipe %>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Description</div>
          <div class="collapsible-body"><span class="font-white"><%= recipe.description %></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Instructions</div>
          <div class="collapsible-body"><span><%= recipe.instructions %></span></div>
        </li>
      </ul>
          <div class="tags"><span><% tag_cloud recipe.tag_counts, %w[s m l] do |tag| %>
          <%= link_to tag.name, tag_path(tag.name), class: "btn btn-sm btn-default" %>
        <% end %></span></div>
    </div>
  <div class="divider"></div>
  <% end %>
<div class="divider"></div>
</div>

<div class="right container col s4">
  <%= render 'form' %>
</div>
    </div>
</div>