  <!DOCTYPE html>
<html>
  <head>
    <title>Tendr</title>
    <%= csrf_meta_tags %>
   <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
  <!-- ================================================== -->

<body class="container blue-grey">

<!-- top row welcome and image -->
  <nav>
    <div class="circle left">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", :class => "z-depth-3 circle" %>
      <% end %>
    </div>
    <div class="col s8">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><button><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li></button>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path  %></li>
          <li><%= link_to 'Register Now', new_user_registration_path %></li>
        <% end %>
        </li>
      </ul>
    <div class="right">
      <% if user_signed_in? %>
        <%= link_to new_recipe_path do %>
          <%= image_tag "edit.png", :class => "circle responsive-image z-depth-3" %>
        <% end %>
      <% end %>
    </div>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/about">About</a></li>
        <li><a href="mailto:brendanjwh@gmail.com">Email</a></li>
        <li class="divider"></li>
        <li><a href="https://www.github.com/brendanjwh">Github</a></li>
      </ul>
      <a class="dropdown-button right" href="#!" data-activates="dropdown1">Social<i class="material-icons right">arrow_drop_down</i></a>
    </div>
  </nav>

  <div class="row">
    <div class="col m12 right">
      <%= yield %>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %>

</body>
</html>
