<!DOCTYPE html>
<html>
  <head>
    <title>Tendr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div id="logo">
      <div id="sidebar">
        <%= link_to root_path do %>
          <%= image_tag "logo.jpg" %>
        <% end %>
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Logout (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path  %></li>
            <% end %>
          </ul>
        <% if user_signed_in? %>
          <p><%= link_to 'Create Recipe', new_recipe_path %></p>
        <% else %>
          <p><%= link_to 'Register Now', new_user_registration_path %></p>
        <% end %>
          <ul>
            <li class="category">Social</li>
            <li><a href="/about">About</a>
            <li><a href="mailto:brendanjwh@gmail.com">Email</a></li>
            <li><a href="https://www.github.com/brendanjwh">Github</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </head>
  <body>

  <div id="main_content">
    <div id="header">
      <p>All cocktail recipes</p>

      <div class="buttons">
        <button class="button"><%= link_to "New Recipe", new_recipe_path %></button>
      </div>
    </div>
    <%= yield %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
  </div>

  </body>
</html>
